<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>CinemaGO - Register</title>
    <link rel="icon" th:href="@{/assets/cgoLOGO.png}" type="image/png" />

    <meta property="og:title" content="CinemaGO" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cgo.lzuardiai.my.id" />
    <meta property="og:image" content="https://cgo.lzuardiai.my.id/assets/cgoLOGO.png" />
    <meta property="og:description" content="CinemaGO is an application for ordering cinema tickets with various features. This application is made using the Java programming language. And the program has met Object Oriented Programming." />
    <meta name="theme-color" content="#c2a900">

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" th:href="@{/css/auth/register.css}" />
  </head>

  <body>
    <div class="container">
      <div class="logo-container">
        <img
          th:src="@{/assets/cgoLOGO.png}"
          alt="Logo CinemaGo"
          class="logo-image"
        />
      </div>
      <h2>
        Setiap kisah dimulai dengan satu langkah<br />
        <span style="font-weight: 600; color: #ffd700">Daftar Sekarang!</span>
      </h2>
      <p th:if="${error}" th:text="${error}" style="color: red;"></p>
      <form th:action="@{/auth/register}" method="post">
        <input type="text" name="username" placeholder="Username" required />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Kata Sandi"
          required
        />
        <input
          type="password"
          id="confirm-password"
          name="confirmPassword"
          placeholder="Konfirmasi Kata Sandi"
          required
        />
        <span class="show-password" onclick="togglePassword()"
          >Tampilkan Sandi</span
        >
        <button class="btn" type="submit">Daftar</button>
      </form>
      <div class="link">
        Sudah punya akun? <a th:href="@{/auth/login}">Login di sini</a>
      </div>
    </div>
  </body>

  <script>
    function togglePassword() {
      const password = document.getElementById("password");
      const confirmPassword = document.getElementById("confirm-password");
      const isHidden = password.type === "password";

      password.type = isHidden ? "text" : "password";
      confirmPassword.type = isHidden ? "text" : "password";
    }
  </script>
</html>
