<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    
    <section class="top-section" data-aos="fade-up">
        <h1 class="top-title">Temukan Film & Bioskop Favoritmu</h1>
        <div class="search-box">
        <i class="fas fa-search search-icon"></i>
        <input
            type="text"
            placeholder="Search for movies, theaters, or showtimes..."
            th:action="@{/search}"
            th:method="get"
        />
        </div>
    </section>
    

</body>
</html>