<footer class="footer">
    <div class="footer-content">
      <div class="footer-section brand">
        <img th:src="@{/assets/cgoLOGO.png}" alt="CinemaGO Logo" class="logo" />
        <h2>CinemaGO 2025</h2>
      </div>
      
      <div class="footer-section about">
        <h3>What is CinemaGO?</h3>
        <p>
          CinemaGO is an application for ordering cinema tickets with various features. This application 
          is made using the Java programming language. And the program has met Object Oriented Programming.
        </p>
      </div>
  
      <div class="footer-section links">
        <h3>Kelompok 2</h3>
        <ul>
          <li><a>Lazuardi Akbar Imani - 24111814119</a></li>
          <li><a>Febriana Nur Aini - 24111814006</a></li>
          <li><a>Muhamad Rifki Maulana - 24111814006</a></li>
          <li><a>Qolbun Halim H	- 24111814065</a></li>
          <li><a>Putu Novita D - 24111814007</a></li>
          <li><a>Muhammad Dava K R - 24111814068</a></li>
          <li><a>Wafiq Ulil A A - 24111814064</a></li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="footer-bottom">
      <p>© 2025 Kelompok 2 - 2024A</p>
    </div>
  </footer>