<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="navbar" class="navbar">
      <div class="nav-left">
        <div class="nav-logo">
          <img th:src="@{/assets/cgoLOGO.png}" alt="Logo" />
          <span>CinemaGO</span>
        </div>
        <div class="menu-icon" onclick="toggleMenu()">☰</div>
      </div>

      <div class="nav-items" id="nav-items">
        <div class="nav-item" onclick="location.href='/'">
          <i class="bi bi-house-door-fill"></i>&nbsp;&nbsp;Home
        </div>
        <div class="nav-item" onclick="location.href='/jadwaltayang'">
          <i class="bi bi-alarm-fill"></i>&nbsp;&nbsp;Lihat Jadwal
        </div>
        <div class="nav-item" onclick="location.href='/aboutus'">
          <i class="bi bi-people-fill"></i>&nbsp;&nbsp;Anggota Kelompok
        </div>
        <div class="nav-item" onclick="location.href='https://github.com/Dezkrazzer/movie-ticket-reservation/tree/web-version'">
          <i class="bi bi-github"></i>&nbsp;&nbsp;GitHub
        </div>
      </div>

      <div class="nav-right" id="nav-right">
        <div class="play-button" onclick="location.href='/search'">
          <i class="bi bi-cart-fill"></i> Buy Ticket
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div th:if="${session.loggedInUser}" class="d-flex">
            <div
              class="nav-item"
              style="cursor: pointer"
              onclick="location.href='/profile'"
            >
              <i class="bi bi-person-circle"></i>&nbsp;&nbsp;
              <span th:text="${session.loggedInUser}">Username</span>
            </div>
          </div>

          <div th:unless="${session.loggedInUser}" class="d-flex">
            <div
              class="nav-item"
              style="cursor: pointer"
              onclick="location.href='/auth/login'"
            >
              <i class="bi bi-person-circle"></i>&nbsp;&nbsp;Login
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
