<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>CinemaGO - Page not Found</title>
    <link rel="icon" th:href="@{/assets/cgoLOGO.png}" type="image/png" />

    <link rel="stylesheet" th:href="@{/css/404.css}" />
  </head>

  <body>
    <div class="container">
      <div class="code">
        <span>4</span>
        <span class="emoji">😵</span>
        <span>4</span>
      </div>
      <h2>Ups! Halaman tidak ditemukan</h2>
      <p>Maaf, halaman yang kamu cari tidak tersedia.</p>
      <a href="/" class="btn">Back To Home</a>
    </div>
  </body>
</html>
