<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>CinemaGO - About Us</title>
    <link rel="icon" th:href="@{/assets/cgoLOGO.png}" type="image/png" />

    <meta property="og:title" content="CinemaGO" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cgo.lzuardiai.my.id" />
    <meta property="og:image" content="https://cgo.lzuardiai.my.id/assets/cgoLOGO.png" />
    <meta property="og:description" content="CinemaGO is an application for ordering cinema tickets with various features. This application is made using the Java programming language. And the program has met Object Oriented Programming." />
    <meta name="theme-color" content="#c2a900">
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/aboutus.css}" />
  </head>

  <body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <h1 class="header-anggota-kelompok" data-aos="fade-up">Anggota Kelompok</h1>

    <div class="container-aboutus">
      <!-- Card 1 -->
      <div class="card" data-aos="fade-up">
        <span class="badge-icon">
          <i class="bi bi-code-slash"></i>
        </span>
        <img th:src="@{/assets/foto-lazuardi.jpg}" alt="Foto Anggota" />
        <div class="name">Lazuardi Akbar Imani</div>
        <div class="nim">24111814119</div>
        <div class="buttons">
          <a href="https://www.instagram.com/lzuardiai"
            ><i class="bi bi-instagram"></i> Instagram</a
          >
          <a href="https://github.com/Dezkrazzer"
            ><i class="bi bi-github"></i> Github</a
          >
        </div>
      </div>

      <!-- Card 2 -->
      <div class="card" data-aos="fade-up">
        <img
          th:src="@{/assets/foto-febri.jpg}" alt="Foto Anggota" />
        <div class="name">Febriana Nur Aini</div>
        <div class="nim">24111814006</div>
        <div class="buttons">
          <a href="https://www.instagram.com/fbenaa"
          ><i class="bi bi-instagram"></i> Instagram</a
          >
          <a href="https://github.com/beeena4"
          ><i class="bi bi-github"></i> Github</a
          >
        </div>
      </div>

      <!-- Card 3 -->
      <div class="card" data-aos="fade-up">
        <img
        th:src="@{/assets/foto-rifki.jpg}"
          alt="Foto Anggota"
        />
        <div class="name">Muhammad Rifki Maulana</div>
        <div class="nim">24111814084</div>
        <div class="buttons">
          <a href="https://www.instagram.com/rfkmaul21"><i class="bi bi-instagram"></i> Instagram</a>
          <a href="https://github.com/rifkimaulana25"> <i class="bi bi-github"></i> Github</a>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="card" data-aos="fade-up">
        <img
          th:src="@{/assets/foto-halim.jpg}"
          alt="Foto Anggota"
        />
        <div class="name">Qolbun Halim Hidayatulloh</div>
        <div class="nim">24111814065</div>
        <div class="buttons">
          <a href="https://www.instagram.com/qolbunhalim_46?igsh=MTFiN2QyNmJzMTV3Mg=="><i class="bi bi-instagram"></i> Instagram</a>
          <a href="https://github.com/byeone001"> <i class="bi bi-github"></i> Github</a>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="card" data-aos="fade-up">
        <img
         th:src="@{/assets/foto_novita.jpeg}"
          alt="Foto Anggota"
        />
        <div class="name">Putu Novita Darmadewi 5</div>
        <div class="nim">241118140075</div>
        <div class="buttons">
          <a href="https://www.instagram.com/ncvtq/"><i class="bi bi-instagram"></i> Instagram</a>
          <a href="https://github.com/Chokycakep"> <i class="bi bi-github"></i> Github</a>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="card" data-aos="fade-up">
        <img
         th:src="@{/assets/foto-dava.jpeg}"
          alt="Foto Anggota"
        />
        <div class="name">Muhammad Dava Khoirur Roziqy</div>
        <div class="nim">24111814068</div>
        <div class="buttons">
          <a href="https://www.instagram.com/davajharzqyy__?igsh=ZDVrd3h0anIwYm4="><i class="bi bi-instagram"></i> Instagram</a>
          <a href="https://github.com/SUPERChild973"> <i class="bi bi-github"></i> Github</a>
        </div>
      </div>

      <!-- Card 7 -->
      <div class="card" data-aos="fade-up">
        <img
         th:src="@{/assets/foto-wafiq.png}"
          alt="Foto Anggota"
        />
        <div class="name">Wafiq Ulil Abshor Allabibi</div>
        <div class="nim">24111814064</div>
        <div class="buttons">
          <a href="https://www.instagram.com/wavi.ex"><i class="bi bi-instagram"></i> Instagram</a>
          <a href="https://github.com/wafiqulil2603"> <i class="bi bi-github"></i> Github</a>
        </div>
      </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
  </body>

  <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
  <script>
    AOS.init({
      duration: 900, // durasi animasi
      once: true, // hanya animasi 1x saat masuk viewport
    });
  </script>
</html>
