<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>CinemaGO - About Us</title>
    <link rel="icon" th:href="@{/assets/cgoLOGO.png}" type="image/png" />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/aboutus.css}" />
  </head>

  <body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <h1 class="header-anggota-kelompok" data-aos="fade-up">Anggota Kelompok</h1>

    <div class="container-aboutus">
      <!-- Card 1 -->
      <div class="card" data-aos="fade-up">
        <span class="badge-icon">
          <i class="bi bi-code-slash"></i>
        </span>
        <img th:src="@{/assets/foto-lazuardi.jpg}" alt="Foto Anggota" />
        <div class="name">Lazuardi Akbar Imani</div>
        <div class="nim">24111814119</div>
        <div class="buttons">
          <a href="https://www.instagram.com/lzuardiai"
            ><i class="bi bi-instagram"></i> Instagram</a
          >
          <a href="https://github.com/Dezkrazzer"
            ><i class="bi bi-github"></i> Github</a
          >
        </div>
      </div>

      <!-- Card 2 -->
      <div class="card" data-aos="fade-up">
        <img
          src="https://play-lh.googleusercontent.com/nylDTV-UGxiTYYDCLp60jX0pln_9ZlCSYlZrUXU3Yitr8zfJJ2Z910bSHWICWY1mnQ"
          alt="Foto Anggota"
        />
        <div class="name">Nama Anggota 2</div>
        <div class="nim">nim Anggota 2</div>
        <div class="buttons">
          <a href="#"><i class="bi bi-instagram"></i> Instagram</a>
          <a href="#"> <i class="bi bi-github"></i> Github</a>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="card" data-aos="fade-up">
        <img
          src="https://play-lh.googleusercontent.com/nylDTV-UGxiTYYDCLp60jX0pln_9ZlCSYlZrUXU3Yitr8zfJJ2Z910bSHWICWY1mnQ"
          alt="Foto Anggota"
        />
        <div class="name">Nama Anggota 3</div>
        <div class="nim">nim Anggota 3</div>
        <div class="buttons">
          <a href="#"><i class="bi bi-instagram"></i> Instagram</a>
          <a href="#"> <i class="bi bi-github"></i> Github</a>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="card" data-aos="fade-up">
        <img
          src="https://play-lh.googleusercontent.com/nylDTV-UGxiTYYDCLp60jX0pln_9ZlCSYlZrUXU3Yitr8zfJJ2Z910bSHWICWY1mnQ"
          alt="Foto Anggota"
        />
        <div class="name">Nama Anggota 4</div>
        <div class="nim">nim Anggota 4</div>
        <div class="buttons">
          <a href="#"><i class="bi bi-instagram"></i> Instagram</a>
          <a href="#"> <i class="bi bi-github"></i> Github</a>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="card" data-aos="fade-up">
        <img
          src="https://play-lh.googleusercontent.com/nylDTV-UGxiTYYDCLp60jX0pln_9ZlCSYlZrUXU3Yitr8zfJJ2Z910bSHWICWY1mnQ"
          alt="Foto Anggota"
        />
        <div class="name">Nama Anggota 5</div>
        <div class="nim">nim Anggota 5</div>
        <div class="buttons">
          <a href="#"><i class="bi bi-instagram"></i> Instagram</a>
          <a href="#"> <i class="bi bi-github"></i> Github</a>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="card" data-aos="fade-up">
        <img
          src="https://play-lh.googleusercontent.com/nylDTV-UGxiTYYDCLp60jX0pln_9ZlCSYlZrUXU3Yitr8zfJJ2Z910bSHWICWY1mnQ"
          alt="Foto Anggota"
        />
        <div class="name">Nama Anggota 6</div>
        <div class="nim">nim Anggota 6</div>
        <div class="buttons">
          <a href="#"><i class="bi bi-instagram"></i> Instagram</a>
          <a href="#"> <i class="bi bi-github"></i> Github</a>
        </div>
      </div>

      <!-- Card 7 -->
      <div class="card" data-aos="fade-up">
        <img
          src="https://play-lh.googleusercontent.com/nylDTV-UGxiTYYDCLp60jX0pln_9ZlCSYlZrUXU3Yitr8zfJJ2Z910bSHWICWY1mnQ"
          alt="Foto Anggota"
        />
        <div class="name">Nama Anggota 7</div>
        <div class="nim">nim Anggota 7</div>
        <div class="buttons">
          <a href="#"><i class="bi bi-instagram"></i> Instagram</a>
          <a href="#"> <i class="bi bi-github"></i> Github</a>
        </div>
      </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
  </body>

  <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
  <script>
    AOS.init({
      duration: 900, // durasi animasi
      once: true, // hanya animasi 1x saat masuk viewport
    });
  </script>
</html>
