<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>CinemaGO - Jadwal Tayang</title>
    <link rel="icon" th:href="@{/assets/cgoLOGO.png}" type="image/png" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet" />

    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/jadwaltayang.css}" />
  </head>
  <body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <h1 data-aos="fade-up">Nonton Apa Hari Ini? Yuk cek jadwalnya!</h1>
    <div class="container-schedule">
      <h2 class="studio-header" data-aos="fade-up">Studio 1</h2>
      <div th:each="movie : ${studio1Movies}" class="film" data-aos="fade-up">
        <img
          th:src="${movie.posterFilm}"
          th:alt="'poster_' + ${movie.judulFilm.replace(' ', '_')}"
        />
        <div class="film-info">
          <div th:text="${movie.judulFilm}" class="title">judulFilm</div>
          <div class="labels">
            <div th:text="${movie.categoryFilm}" class="label">
              categoryFilm
            </div>
            <div th:text="${movie.showTime}" class="label">showTime</div>
          </div>
          <div th:text="${movie.auditorium}" class="studio">auditorium</div>
          <div th:text="${movie.sinopsisFilm}" class="synopsis">
            sinopsisFilm
          </div>
          <div class="under-sinopsis">
            <button class="buy-button">Beli Tiket</button>
          </div>
        </div>
      </div>

      <h2 class="studio-header" data-aos="fade-up">Studio 2</h2>
      <div th:each="movie : ${studio2Movies}" class="film" data-aos="fade-up">
        <img
          th:src="${movie.posterFilm}"
          th:alt="'poster_' + ${movie.judulFilm.replace(' ', '_')}"
        />
        <div class="film-info">
          <div th:text="${movie.judulFilm}" class="title">judulFilm</div>
          <div class="labels">
            <div th:text="${movie.categoryFilm}" class="label">
              categoryFilm
            </div>
            <div th:text="${movie.showTime}" class="label">showTime</div>
          </div>
          <div th:text="${movie.auditorium}" class="studio">auditorium</div>
          <div th:text="${movie.sinopsisFilm}" class="synopsis">
            sinopsisFilm
          </div>
          <div class="under-sinopsis">
            <button class="buy-button">Beli Tiket</button>
          </div>
        </div>
      </div>

      <h2 class="studio-header" data-aos="fade-up">Studio 3</h2>
      <div th:each="movie : ${studio3Movies}" class="film" data-aos="fade-up">
        <img
          th:src="${movie.posterFilm}"
          th:alt="'poster_' + ${movie.judulFilm.replace(' ', '_')}"
        />
        <div class="film-info">
          <div th:text="${movie.judulFilm}" class="title">judulFilm</div>
          <div class="labels">
            <div th:text="${movie.categoryFilm}" class="label">
              categoryFilm
            </div>
            <div th:text="${movie.showTime}" class="label">showTime</div>
          </div>
          <div th:text="${movie.auditorium}" class="studio">auditorium</div>
          <div th:text="${movie.sinopsisFilm}" class="synopsis">
            sinopsisFilm
          </div>
          <div class="under-sinopsis">
            <button class="buy-button">Beli Tiket</button>
          </div>
        </div>
      </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}" data-aos="fade-up"></div>
  </body>

  <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
  <script>
    AOS.init({
      duration: 900, // durasi animasi
      once: true, // hanya animasi 1x saat masuk viewport
    });
  </script>
  <script th:src="@{/js/navbar.js}"></script>
</html>
