<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <section
      th:fragment="category-movie-section"
      class="category-wrapper"
      data-aos="fade-up"
    >
      <div class="category-scroll">
        <!-- Left Arrow -->
        <button
          class="arrow-category arrow-category-left"
          onclick="scrollCategories(-200)"
        >
          &#9664;
        </button>

        <!-- Scrollable Category List -->
        <div class="category-container" id="categoryContainer">
          <a class="category active" href="/search">All</a>
          <a class="category" href="/search?query=Action">Action</a>
          <a class="category" href="/search?query=Adventure">Adventure</a>
          <a class="category" href="/search?query=Animation">Animation</a>
          <a class="category" href="/search?query=Comedy">Comedy</a>
          <a class="category" href="/search?query=Crime">Crime</a>
          <a class="category" href="/search?query=Drama">Drama</a>
          <a class="category" href="/search?query=Fantasy">Fantasy</a>
          <a class="category" href="/search?query=History">History</a>
          <a class="category" href="/search?query=Horror">Horror</a>
          <a class="category" href="/search?query=Mystery">Mystery</a>
          <a class="category" href="/search?query=Story">Story</a>
          <a class="category" href="/search?query=Romance">Romance</a>
          <a class="category" href="/search?query=Sport">Sport</a>
        </div>

        <!-- Right Arrow -->
        <button
          class="arrow-category arrow-category-right"
          onclick="scrollCategories(200)"
        >
          &#9654;
        </button>
      </div>
    </section>
  </body>
</html>
