<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="coming-soon-section" class="coming-soon-section">
    <h1 class="coming-soon-title">Coming Soon</h1>
  <button class="arrow arrow-left" onclick="scrollComingSoon(-1)">&#x276E;&#x276E;</button>
  <div class="coming-soon-container" id="comingSoon">
    <div class="movie-card">
      <img src="https://i.pinimg.com/474x/01/b3/7d/01b37de73378ea6724a7d74c1d753982.jpg" alt="Coming Soon 1" />
      <div class="movie-title">Cars 4</div>
    </div>
    <div class="movie-card">
      <img src="https://cdn.rri.co.id/berita/Surakarta/o/1739264773651-Jurassic_World_4_Rebirth_Teaser_Poster_HD__Edition/pclv07j2kmrc55l.jpeg" alt="Coming Soon 2" />
      <div class="movie-title">Jurassic World Rebirth</div>
    </div>
    <div class="movie-card">
      <img src="https://upload.wikimedia.org/wikipedia/pt/6/61/Five_Nights_at_Freddys_2.jpg" alt="Coming Soon 3" />
      <div class="movie-title">Five Nights at Freddy’s 2</div>
    </div>
    <div class="movie-card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9b50HMFppywWQ_Zoej-9eknIw8Hu0TmH8EQ&s" alt="Coming Soon 4" />
      <div class="movie-title">Spider-Man: Brand New Day</div>
    </div>
    <div class="movie-card">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/14/Toy_Story_5_logo.jpg/1200px-Toy_Story_5_logo.jpg" alt="Coming Soon 5" />
      <div class="movie-title">Toy Story 5</div>
    </div>
    <div class="movie-card">
      <img src="https://m.media-amazon.com/images/M/MV5BZjgxMGRjYTktZTE2OS00MmRhLTlkNGEtMGYxNjY3NDhlOWNjXkEyXkFqcGc@._V1_.jpg" alt="Coming Soon 6" />
      <div class="movie-title">Ice Age 6</div>
    </div>
    <div class="movie-card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQJ257zfEfRKVUCQ2-OevYChzM5DDV1V-ZhA&s" alt="Coming Soon 7" />
      <div class="movie-title">Avengers: Doomsday</div>
    </div>
  </div>
  <button class="arrow arrow-right" onclick="scrollComingSoon(1)">&#x276F;&#x276F;</button>
</div>
</body>
</html>