<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="rules-section" data-aos="fade-up">
    <header>
      <h1>Bioskop Rules</h1>
      <p>Agar lebih nyaman menonton, yuk patuhi peraturan dibawah!</p>
    </header>

    <section class="rules-container">
      <div class="rule">
        <img
          src="https://img.icons8.com/ios-filled/50/ffffff/age.png"
          alt="Usia"
        />
        <p>Tonton film sesuai usia</p>
      </div>
      <div class="rule">
        <img
          src="https://img.icons8.com/ios-filled/50/FFFFFF/no-camera.png"
          alt="Rekam"
        />
        <p>Dilarang merekam adegan film</p>
      </div>
      <div class="rule">
        <img
          src="https://img.icons8.com/ios-filled/50/FFFFFF/no-audio.png"
          alt="Ganggu"
        />
        <p>Dilarang mengganggu kenyamanan penonton lain</p>
      </div>
      <div class="rule">
        <img
          src="https://img.icons8.com/fluency-systems-filled/48/ffffff/armchair.png"
          alt="Kursi"
        />
        <p>Duduk sesuai nomor kursi yang dipilih</p>
      </div>
      <div class="rule">
        <img
          src="https://img.icons8.com/ios-filled/50/ffffff/smartphone.png"
          alt="Main HP"
        />
        <p>Mohon tidak main HP selama pertunjukan</p>
      </div>
      <div class="rule">
        <img
          src="https://img.icons8.com/ios-filled/50/ffffff/do-not-touch.png"
          alt="Properti"
        />
        <p>Dilarang merusak properti bioskop</p>
      </div>
      <div class="rule">
        <img
          src="https://img.icons8.com/ios-filled/50/FFFFFF/toilet.png"
          alt="Toilet"
        />
        <p>Pastikan kamu sudah ke toilet</p>
      </div>
      <div class="rule">
        <img
          src="https://img.icons8.com/ios-filled/50/FFFFFF/clock.png"
          alt="Waktu"
        />
        <p>Mohon datang tepat waktu</p>
      </div>
    </section>
    </div>
  </body>
</html>
